.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  p {
    font-size: 14px !important;
    margin-right: 5px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper p {
    display: none;
  }
}
