.container {
  width: 100vw;
  padding: 0 35px;
  height: 100vh;
  position: relative;
  color: white;
  img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    z-index: -1;
  }
  h1 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 0;
  }
  h2 {
    font-size: 14px;
    padding: 0;
    font-weight: 400;
  }
}

@media screen and (max-width: 640px) {
  .container {
    padding: 2.9929vh 3.125vw;
    h1 {
      font-size: 14px;
    }
    h2 {
      font-size: 12px;
    }
    img {
      height: 35.2112vh;
    }
  }
}
